body {
    background-color: #f9f9f9;
    font-family: 'Roboto', 'Helvetica Neue';
    color: #1C304E;
    overflow-x: hidden;
}

.logo {
    margin-top: 20px;
    width: 250px;
}

h1,
h2 {
    font-weight: 100;
}

.title-center {
    text-align: center;
}


.jumbo {
    margin-top: 80px;
}

#vagas {
    margin-bottom: 30px;
}

.btn-primary {
    /* width: 450px; */
    height: 50px;
    background-color: #00B17B;
    border: none;
    font-size: 17px;
}

.fck-primary {
    box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.42);
    background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
    margin-bottom: 10px;
}

span {
    font-weight: 100;
}

.btn-primary:hover {
    background-color: #00B17B;
    border-color: #00B17B;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #07865F !important;
    border-color: #07865F !important;
}

.btn-success:hover {
    background-color: #184e68;
    border-color: #184e68;
}

.btn-success:focus,
.btn-success:active:focus {
    background-color: #12394c !important;
    border-color: #12394c !important;
}

.buttons {
    margin-top: 40px;
}

.players {
    margin-top: 40px;
}

.semi-title {
    font-size: 20px;
}

.avatars {
    height: 100px;
}

.headline {
    font-size: 45px;
}

.name {
    font-size: 20px;
    display: block;
    font-weight: 700;
}

.card-vaga {
    background-color: #fff;
    box-shadow: 0px 4px 23px -2px rgba(0, 0, 0, 0.22);
    border-radius: 5px;

}

.name-vaga {
    font-size: 20px;
    font-weight: 700;
}

.vaga-img {
    background-color: #000;
}

.tag {
    background-color: #4DB993;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
}

.btn-success {
    background-color: #184e68;
    border: none;
}

.btn-secondary {
    /* width: 450px; */
    height: 50px;
    background-color: #184e68;
    border: none;
    font-size: 17px;
}

.fck-secondary {
    box-shadow: 0px 4px 23px -2px rgba(0, 0, 0, 0.22);
    margin-bottom: 10px;
}

.section {
    margin-top: 60px;
}

.section.invert {
    background-color: #fff;
}

.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.container-no-side-padding {
    max-width: 100vw;
    /* added */
    width: 100vw;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

h2.bolder {
    font-weight: 600;
}

.bold-work-here {
    background-color: #00B09D;
    padding: 3px 10px;
    color: #fff;
    font-weight: 600;
}

.colorful {
    /* background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%); */
    background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
    color: #fff;
}

.partner-img {
    max-width: 100px;
    height: 100px;
    border-radius: 5px;
}

.partner-img-depo {
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #00B09D;
}

.name {
    display: block;
    font-weight: 500;
}

@media (max-width: 575.98px) {

    h1,
    h2 {
        font-size: 2rem;
        text-align: left;
    }

    .title-center.bolder {
        font-size: 1.6rem;
        padding: 10px;
        text-align: left;
    }

    .span-subtitle {
        padding: 10px;
        text-align: left;
    }

    .headline {
        font-size: 2rem;
        text-align: center;
    }

    .headline.margintop {
        margin-top: 30px;
    }

    .headline.marginbot {
        margin-bottom: 30px;
    }

    .section {
        margin-top: 30px;
    }
}

.benefits-img {
    width: 300px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}